@use "../variables" as *;
@use "../mixin" as *;

.c-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.c-title__text {
  font-size: 1.6rem;
  letter-spacing: .35em;
  .sub {
    display: block;
    margin-top: 22px;
    font-size: 0.8em;
    @include sp {
      display: inline-block;
      margin-top: 0;
    }
  }

  @include sp {
    font-size: 1.3rem;
  }
}

.c-line__accent {
  width: 86px;
  display: grid;
  row-gap: 5px;
  span {
    display: block;
    height: 1px;
    background-color: $main-black;
  }

  &._horizontal {
    width: auto;
    height: 86px;
    @include tb {
      width: 86px;
      height: auto;
    }
    span {
      height: 100%;
      width: 1px;
      @include tb {
        width: 100%;
        height: 1px;
      }
    }
  }
}

.c-title-box {
  display: grid;
  row-gap: 20px;
  align-items: flex-start;
  align-content: flex-start;
}

.p-container {
  & + & {
      margin-top: 100px;
  }
  @include sp {
    & + & {
      margin-top: 70px;
    }
  }
}