@use "../mixin" as *;

.c-nearByFacilities {
    margin-top: 150px;
    @include sp {
        margin-top: 80px;
    }
}

.p-nearByFacilities-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 5px;
    align-items: flex-start;
    .c-title-box {
        position: sticky;
        top: 150px;
        @include sp {
            position: static;
        }
    }
    @include sp {
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

.p-nearByFacilities-list {
    & > * + * {
        margin-top: 30px;
    }
    @include sp {
        & > * + * {
            margin-top: 20px;
        }
    }
}

.c-nearByFacilities-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 25px;
    background-color: #fafafa;
    padding: 30px 24px;
    border: 1px solid #eee;
    border-radius: 4px;
    @include tb {
        grid-template-columns: 1fr;
        row-gap: 25px;
    }
    .textBox {
        .name {
            border-bottom: 1px solid #eee;
            padding: 0 0 1em;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            @include sp {
                font-size: 1rem;
            }
            a {
                color: currentColor;
                svg {
                    width: 16px;
                    aspect-ratio: 1 / 1;
                }
            }
        }
        .text {
            font-size: 0.9rem;
            line-height: 1.8;
            .info {
                margin-bottom: 1rem;
                display: block;
                a {
                    color: currentColor;
                }
            }
            @include sp {
                font-size: 0.8rem;
            }
        }
    }
    .imgBox {
        $h: 400px;
        height: $h;
        overflow: hidden;
        iframe {
            width: 100%;
            height: calc($h + 320px);
            margin-top: -150px;
            @include sp {
                
            }
        }
        @include sp {
            $h: 260px;
            height: $h;
            iframe {
                height: calc($h + 330px);
            }
        }
        ul {
            display: flex;
            column-gap: 10px;
            li {
                overflow: hidden;
                border-radius: 4px;
            }
        }
    }
}