@use "../variables" as *;
@use "../mixin" as *;

.c-room {
    background-color: #fafafa;
    padding: 150px 0;
    @include sp {
        padding: 100px 0;
    }
}

.p-room-text-box {
    display: grid;
    grid-template-columns: minmax(150px ,0.55fr) 2fr 1.5fr;
    column-gap: 30px;
    @include sp {
        grid-template-columns: 1fr;
        & > * + * {
            margin-top: 24px;
        }
    }
}

.p-information-item {
    .title {
        font-size: 1.2rem;
        border-bottom: 1px solid #eee;
        padding: 0 0 0.7em;
        margin-bottom: 0.7em;
        @include sp {
            font-size: 1.1rem;
        }
    }
    ul {
        display: flex;
        column-gap: 10px;
        row-gap: 8px;
        flex-wrap: wrap;
        li {
            line-height: 1.6;
            @include sp {
                font-size: 0.9rem;
            }
        }
    }
    .link {
        ul {
            li {
                flex-grow: 1;
                border-radius: 3px;
                a {
                    border: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 10px;
                    height: 100%;
                    text-align: center;
                    padding: 0.5em 0.5em;
                    color: currentColor;
                    font-family: sans-serif;
                    transition-duration: .3s;
                    background-color: #fff;
                    .icon_link {
                        flex-shrink: 0;
                        width: 1em;
                    }

                    @include hover {
                        background-color: #eee;
                    }
                }
            }
        }
    }
}

.c-room-slider-box {
    margin-top: 40px;
    position: relative;
    z-index: 0;
    @include sp {
        margin-top: 30px;
    }
}

.c-room-slider {
    .inner {
        margin: 0 6px;
    }
    .slick-arrow {
        color: $main-black;
        position: absolute;
        top: 50%;
        text-indent: -9999px;
        z-index: 9000;
        width: 1em;
        height: 1em;
        font-size: 34px;
        background-color: #fafafa;
        border-radius: 50%;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
        padding: 0;
        &::before {
            display: none;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0.25em;
            aspect-ratio: 1 / 1;
            border-top: 1px solid currentColor;
            border-left: 1px solid currentColor;
        }
        &.slick-prev {
            left: 0;
            translate: -50% -50%;
            @include sp {
                translate:  -25% -50%;
            }
            &::after {
                rotate: -45deg;
                translate: -50% -50%;
            }
        }
        &.slick-next {
            right: 0;
            translate: 50% -50%;
            @include sp {
                translate:  25% -50%;
            }
            &::after {
                rotate: 135deg;
                translate: -50% -50%;
            }
        }
    }
    @include sp {
        .slick-dots {
            display: flex;
            column-gap: 12px;
            justify-content: center;
            margin-top: 10px;
            li {
                width: 12px;
                height: 12px;
                background-color: #eee;
                border-radius: 50%;
                &.slick-active {
                    background-color: #a4a4a4;
                }
                button {
                    text-indent: -9999px;
                    width: 100%;
                    height: 100%;
                    padding: 0;
                }
            }
        }
    }
}